@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 231 229 228;
    --foreground: 41 37 36 ;

    --card: 245 245 245;
    --card-foreground: 41 37 36;
 
    --popover: 0 0% 100%;
    --popover-foreground: 41 37 36;
 
    --primary: 38 38 38;
    --primary-foreground: 245 245 245;
 
    --secondary: 245 245 245;
    --secondary-foreground: 82 82 91;
 
    --muted: 245 245 245;
    --muted-foreground: 113 113 122;
 
    --accent: 245 245 245;
    --accent-foreground: 82 82 91;
 
    --destructive: 220 38 38 ;
    --destructive-foreground: 245 245 245;

    --border: 214 211 209;
    --input: 214 211 209;
    --ring: 41 37 36;
 
    --radius: 0.5rem;

  }

  body {
    pointer-events:   auto !important;
  }
 
  .dark {
    --background: 38 38 38 ;
    --foreground: 245 245 245;
 
    --card: 63 63 70;
    --card-foreground: 245 245 245;
 
    --popover: 63 63 70  ;
    --popover-foreground:245 245 245;
 
    --primary: 245 245 245;
    --primary-foreground: 39 39 42;
 
    --secondary: 113 113 122;
    --secondary-foreground: 244 244 245;
 
    --muted: 82 82 91;
    --muted-foreground: 212 212 212;
 
    --accent: 82 82 91;
    --accent-foreground: 245 245 245;
 
    --destructive: 140 29 29;
    --destructive-foreground: 245 245 245;
 
    --border: 82 82 91;
    --input: 82 82 91;
    --ring: 229 229 229;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground 
  }
}